<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Create/Update Meal Plan</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group" id="filter-selector">
      <div class="row">
        <div class="filter-selector-item text-center  col" *ngFor="let filter of filters" (click)="filterSelect(filter.name)">
          <p>{{ filter.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 container" class="recipe-list" [dragula]='"plan-bag"' [dragulaModel]="recipes">
          <mat-card *ngFor="let recipe of recipes" class="recipe-card" [attr.data-recipe-id]="recipe.id">
            <mat-card-title>{{recipe.title}}</mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <h3>{{weekday}}</h3>
        <div *ngFor="let weekday of weekdays; let i = index" class="col-sm-12 weekday-container row" id={{weekday}}  [dragula]='"plan-bag"' [dragulaModel]="plan.weekdays[weekday]">
          <mat-card *ngFor="let recipe of plan.weekdays[weekday]" class="recipe-card col-3" [attr.data-recipe-id]="recipe.id">
            <mat-card-title>{{recipe.title}}</mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
