.recipe-card {
  margin-top: 20px;
  max-height: 100px;
}

.weekday-container {
  border: 2px solid var(--mid-green);
  border-radius: 8px;
  margin: 20px auto;
  min-height: 200px;
  text-align: right;
}
