<div class="container">
  <div class="ui-g">
    <div class="ui-g-8">
      <h2>Create/Update Meal Plan</h2>
    </div>
    <div class="ui-g-4 ui-g">
      <div class="ui-g-6"><button pButton class="ui-button-success" label="Save" (click)="onSaveClick()"></button></div>
      <div class="ui-g-6"><button pButton class="ui-button-info" label="Cancel" (click)="onCancelClick()"></button></div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12" id="filter-selector">
      <p-selectButton id="filter-select" [options]="filters" [(ngModel)]="selectedFilter" (onChange)="filterSelect(selectedFilter)"></p-selectButton>
    </div>
  </div>
  <!-- Dragula -->
  <!-- <div class="ui-g">
    <div class="ui-g-4">
      <div class="recipe-list" [dragula]='"recipe-bag"' [dragulaModel]="recipes">
        <div class="recipe-chit" *ngFor="let recipe of recipes" [attr.data-recipe-id]="recipe.id">
          <span>{{recipe.title}}</span>
        </div>
      </div>
    </div>
    <div class="ui-g-8">
      <p-panel *ngFor="let weekday of weekdays" header="{{weekday}}" [toggleable]="true" class="weekday-panel">
        <div id="{{weekday}}" class="weekday-panel-content" [dragula]='"recipe-bag"' [dragulaModel]="plan.weekdays[weekday]"></div>
      </p-panel>
    </div>
  </div> -->

  <!-- PrimeNg Drag & Drop -->
  <div class="ui-g">
    <div class="ui-g-4">
      <div class="recipe-list">
        <div class="recipe-chit" *ngFor="let recipe of recipes" [attr.data-recipe-id]="recipe.id" pDraggable="plan-draggable"
          (onDragStart)="onDrag($event, recipe)">
          <span>{{recipe.title | truncate : 25 }}</span>
        </div>
      </div>
    </div>
    <div class="ui-g-8">
      <p-panel *ngFor="let weekday of weekdays" header="{{weekday}}" [toggleable]="true" class="weekday-panel">
        <div id="{{weekday}}" class="weekday-panel-content" pDroppable="plan-draggable" (onDrop)="onDrop(weekday, recipe)">
          <div class="recipe-chit" *ngFor="let recipe of plan.weekdays[weekday]; let i = index">
            <div>{{recipe.title  | truncate : 25 }}<span (click)="removeRecipeFromPlanDay(i, weekday)"><i class="fa fa-times-circle" aria-hidden="true"></i></span></div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

</div>
