
<div class="container ui-g">
  <div class="ui-g-12 ui-g title-section">
    <div class="ui-g-12">
      <h1 class="text-center">Add/Update Recipe</h1>
    </div>
  </div>
</div>
<form #recipeCreate="ngForm">
  <div class="ui-g container form-group">
    <div class="ui-g-12 ui-g">
      <div class="ui-g-12">
        <mat-input-container class="input-lg">
          <input matInput placeholder="Title" value="" id="recipe-title-input" required [(ngModel)]="recipe.title" name="title">
        </mat-input-container>
      </div>
      <div class="ui-g-12">
        <mat-input-container class="input-lg">
          <input matInput placeholder="Author" value="" id="recipe-author-input" [(ngModel)]="recipe.author" name="author">
        </mat-input-container>
      </div>
    </div>
  </div>
  <div class="ui-g container form-group">
    <div class="ui-g-12 ui-g">
      <div class="ui-g-12">
        <h3 class="section-heading">Categories</h3>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <mat-select placeholder="Category" [ngModel]="recipe.categories" (ngModelChange)="addCategory($event)" name="categories">
          <mat-option *ngFor="let category of categories" [value]="category" >
            {{ category }}
          </mat-option>
        </mat-select>
      </div>
      <div class="ui-g-8 category-list-wrapper">
        <div class="category-list-item" *ngFor="let item of recipe.categories">
          {{ item }} <mat-icon (click)="removeCategory(item)" class="recipe-clear-icon">clear</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g container form-group">
    <div class="ui-g-12">
      <h3 class="section-heading">Ingredients</h3>
    </div>
    <div class="ui-g-12 ui-g" *ngFor="let ingredient of recipe.ingredients, let i=index">
      <div class="ui-g-4">
        <mat-input-container>
          <input matInput placeholder="Amount" [ngModel]="ingredient.amount" (ngModelChange)="amountValidator($event)" name="ingredient-amount-{{i}}" #name="ngModel" required maxlength="4">
        </mat-input-container>
        <div *ngIf="!amountValid" class="validation-error-message">Only numbers or fractions (no decimals) and no leading 0's</div>
      </div>
      <div class="ui-g-4">
        <mat-select placeholder="Unit" [(ngModel)]="ingredient.unit" name="ingredient-unit-{{i}}">
          <mat-option *ngFor="let unit of units" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </div>
      <div class="ui-g-4">
        <mat-input-container>
          <input matInput placeholder="What is it?" [(ngModel)]="ingredient.name" name="ingredient-name-{{i}}">
        </mat-input-container>
      </div>
    </div>
    <div class="ui-g-12 ui-g">
      <div class="text-center">
        <button class="btn btn-outline-success" (click)="addIngredient()">Add More</button>
      </div>
    </div>
  </div>
  <div class="ui-g container form-group">
    <div class="ui-g-12">
      <h3 class="section-heading">Instructions</h3>
    </div>
    <div class="ui-g-12 ui-g" *ngFor="let instruction of recipe.instructions, let i=index">
      <div class="ui-g-1">
        <p class="instruction-order-label">{{ instruction.order }})</p>
      </div>
      <div class="ui-g-11">
        <mat-input-container class="input-lg">
          <textarea matInput placeholder="What to do" [(ngModel)]="instruction.text" name="instruction-text-{{i}}"></textarea>
        </mat-input-container>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 text-center">
        <button class="btn btn-outline-success" (click)="addInstruction()">Add More</button>
      </div>
    </div>
  </div>
  <div class="ui-g container form-group">
    <div class="ui-g-12">
      <h3 class="section-heading">Notes</h3>
    </div>
    <div class="ui-g-12">
      <mat-input-container class="input-lg">
        <textarea matInput placeholder="" id="recipe-notes-input" [(ngModel)]="recipe.notes" name="notes"></textarea>
      </mat-input-container>
    </div>
  </div>
  <div class="ui-g container">
    <div class="ui-g-12 text-center">
      <button class="btn btn-outline-success btn-lg" (click)="saveRecipe()">Save</button>
      <button class="btn btn-outline-danger btn-lg" routerLink="/recipes">Cancel</button>
    </div>
  </div>
</form>
