<!-- Page Not Found Message -->
<mat-grid-list cols="1" rowHeight="8em">
  <mat-grid-tile>  
    <h1>Most unfortunate...</h1>
  </mat-grid-tile>

  <mat-grid-tile>  
      <h2>We couldn't locate that page.  May we suggest some of our other great options?</h2>
    </mat-grid-tile>
</mat-grid-list>

<!-- Nav Buttons -->
<mat-grid-list cols="1" rowHeight="3em" gutterSize="5px">
  <mat-grid-tile *ngFor="let button of navButtons" colspan="1" rowspan="1">
    <button mat-raised-button class="lost-nav-button" color="{{button.color}}" (click)="navigateTo(button.link)">{{button.label}}</button>
  </mat-grid-tile>
</mat-grid-list>
