#filter-selector {

}

.filter-selector-item {
  font-size: 20px;
  font-weight: bold;
}

.recipe-list-item {
  width: 30%;
  background-color: var(--light-green);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
