<!--The whole content below can be removed with the new code.-->
<div class="titlebar" style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<!-- <div id="main-nav">
  <md-chip-list class="mat-chip-list-stacked" id="main-buttons">
    <md-chip *ngFor="let button of mainButtons"
        selected="true"
        color="{{button.color}}">
      {{button.label}}
    </md-chip>
  </md-chip-list>
</div>

<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul> -->
