<!--The whole content below can be removed with the new code.-->
<!-- <div class="titlebar" style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div> -->
<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Acacia</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plans">Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      
    </form> -->
  </div>
  <!-- <p-button color="primary" (click)="logout()" label="Logout"></p-button> -->
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<!-- <div id="main-nav">
  <mat-chip-list class="mat-chip-list-stacked" id="main-buttons">
    <mat-chip *ngFor="let button of mainButtons"
        selected="true"
        color="{{button.color}}">
      {{button.label}}
    </mat-chip>
  </mat-chip-list>
</div>

<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul> -->
