
<div class="page-container" (ngModel)="recipe">

  <div class="ui-g">
      <div class="ui-g-12 ui-lg-6">
        <p-card title="{{ recipe.title }}">
          <div class="ing-card">
            <img src="http://via.placeholder.com/400x300">
            <p class="recipe-author">{{ recipe.author }}</p>
            <p-chips [(ngModel)]="recipe.categories"></p-chips>
          </div>
        </p-card>
      </div>
      <div class="ui-g-12 ui-lg-6">
        <p-card title="Ingredients">
          <div class="ui-g ing-card">
            <div class="ui-g-6">
                <ul class="ingredients">
                  <li *ngFor="let ingredient of ingredientsArray1;" class="ingredient-list-item">
                    <span>{{ ingredient.amount }}</span>
                    <span>{{ ingredient.unit }} </span>
                    <span>{{ ingredient.name }}</span>
                  </li>
                </ul>
            </div>
            <div class="ui-g-6">
                <ul class="ingredients">
                    <li *ngFor="let ingredient of ingredientsArray2;" class="ingredient-list-item">
                      <span>{{ ingredient.amount }}</span>
                      <span>{{ ingredient.unit }} </span>
                      <span>{{ ingredient.name }}</span>
                    </li>
                  </ul>
            </div>
          </div>
        </p-card>
      </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-card title="Instructions">
        <div class="ing-card">
          <ol class="instructions">
            <li *ngFor="let instruction of recipe.instructions">
              <div>{{ instruction.text }}</div>
            </li>
          </ol>
        </div>
      </p-card>
    </div>
  </div>
  
</div>
