<div class="container">
  <div *ngIf="recipe" (ngModel)="recipe">
    <div class="row recipe-header">
      <div class="col-12">
        <h2 class="recipe-title">{{ recipe.title }} </h2>
        <p class="recipe-author">{{ recipe.author }}</p>
        <div *ngFor="let category of recipe.categories" class="recipe-categories">
          <p class="recipe-category">{{ category }}</p>
        </div>
      </div>
    </div>
    <div class="row recipe-main">
      <ul class="ingredients">
        <li *ngFor="let ingredient of recipe.ingredients" class="ingredient-list-item">
          <div class="col-sm-4">{{ ingredient.name }}</div>
          <div class="col-sm-4">{{ ingredient.unit }}</div>
          <div class="col-sm-4">{{ ingredient.amount }}</div>
        </li>
      </ul>
      <ol class="instructions">
        <li *ngFor="let instruction of recipe.instructions">
          <div>{{ instruction.text }}</div>
        </li>
      </ol>
    </div>
  </div>
</div>
