:root {
  --light-green: #B2E477;
  --mid-green: #8bc34a;
  --dark-green: #4F8511;
}

/* As hex codes */

.color-primary-0 { color: #8BC34A }	/* Main Primary color */
.color-primary-1 { color: #CEF0A6 }
.color-primary-2 { color: #B2E477 }
.color-primary-3 { color: #6EA929 }
.color-primary-4 { color: #4F8511 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(139,195, 74,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(206,240,166,1) }
.rgba-primary-2 { color: rgba(178,228,119,1) }
.rgba-primary-3 { color: rgba(110,169, 41,1) }
.rgba-primary-4 { color: rgba( 79,133, 17,1) }
