/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

h1, h2 {
  padding-top: 20px;
  padding-bottom: 40px;
}

h3 {

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  margin: 40px 40px;
}

md-input-container {
  margin: 0 auto;
}

md-select {
  padding-top: 10px;
}

.form-group {
  border: 2px solid #8bc34a;
  border-radius: 15px;
  /*background-color: #222;*/
  padding: 40px 20px;
}

.input-lg {
  width: 100%;
}
