/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

h1 {
  padding-top: 20px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

md-input-container {

}

.form-group {
  border: 2px solid #8bc34a;
  border-radius: 15px;
  background-color: #222;
  padding: 40px 20px;
}

.input-lg {
  width: 100%;
}
