/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import '../node_modules/dragula/dist/dragula.min.css';
@import './assets/fa-svg-with-js.css';
@import 'colors.scss';

body {
  background-color: #DDD;
}

h1, h2 {
  padding-top: 20px;
  padding-bottom: 40px;
}

h3 {
  /*padding-bottom: 20px;*/
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  margin: 40px 40px;
}

mat-input-container {
  margin: 0 auto;
}

mat-select {
  padding-top: 10px;
}

.page-container {
  width: 100%;
  padding: 32px;
}

.navbar-dark {
  background-image: url('assets/title-background.png');
  background-position: center;
  background-size: cover;
  height: 100px;
}

.navbar-toggler {
  margin: 0;
}

.navbar-brand, .nav-link {
  color: #FFF;
}

.navbar-brand {
  font-size: 2.5rem;
  margin-right: 40px;
}

.nav-link {
  font-size: 1.5rem;
  margin-left: 20px;
}

.form-group {
  border: 2px solid var(--mid-green);
  border-radius: 15px;
  /*background-color: #222;*/
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-lg {
  width: 100%;
}

.validation-error-message {
  font-size: 12px;
  color: #111;
}
