<!-- Welcome Message -->
<mat-grid-list cols="1" rowHeight="8em">
  <mat-grid-tile colspan="1" rowspan="1">
    <h1>Welcome {{displayName}}</h1>
  </mat-grid-tile>
</mat-grid-list>

<!-- Nav Buttons -->
<mat-grid-list cols="1" rowHeight="6em" gutterSize="20px">
  <mat-grid-tile *ngFor="let button of mainButtons" colspan="1" rowspan="1">
    <button mat-raised-button class="main-nav-button" color="{{button.color}}" (click)="navigateTo(button.link)">{{button.label}}</button>
  </mat-grid-tile>
</mat-grid-list>
